.search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}
  
.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}
  
.locate {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    width: 30px;
    cursor: pointer;
}
.icon-box {
    width: 40px;
    height: 40px;
    background: #ebf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
          3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.icon {
      max-width: 100%;
      font-size: 30px;
      color: #6a9bd8;
    }

/* .height-10 {
    height: 10vh;
} */

.my-card-img {
    /* width: 100% !important; */
    width: 300px !important;
    max-width: 300px !important;
    /* height: auto; */
}